* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1000px;  
    width: 100%;
    /* padding: 0 100px; */
    margin: 0 auto;
}

.navbar {
    background-color: rgba(255, 255, 255, 1);
    padding: 11px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navleft {
    display: flex;
    gap: 5px;
    align-items: center;
}

.navleft > img {
    /* object-fit: cover; */
    width: 24px;
    height: 16px;
}

.navleft > h2 {
    color: rgba(38, 50, 56, 1);
}

.navright {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    align-items: center;
}

.navright > ul {
    list-style: none;
    display: flex;
    gap: 17px;
}

.navright > ul > li > a {
    text-decoration: none;
    font-size: 11px;
    font-weight: 500;
    line-height: 17px;
    color: rgba(77, 77, 77, 1);
}

.navright > img {
    width: 25px;
    display: none;
}

.navright > button {
    font-size: 11px;
    font-weight: 500;
    line-height: 17px;
    color: rgba(255, 255, 255, 1);
    padding: 10px 22px;
    background-color: rgba(76, 175, 79, 1);
    border-radius: 3px;
    border: 0;
}




.main-1 {
    padding: 67px 0 10px 0;
    background-color: rgba(245, 247, 250, 1);
}

.main-1_top {
    display: flex;
    /* gap: 72px; */
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}

.top_left {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.top_left > h1 {
    width: 461px;
    font-size: 45px;
    font-weight: 600;
    line-height: 53px;
    color: rgba(77, 77, 77, 1);
}

.top_left > h1 > span {
    color: rgba(76, 175, 79, 1);
}

.top_left > p {
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    color: rgba(113, 113, 113, 1);
}

.top_left > button {
    background-color: rgba(76, 175, 79, 1);
    border-radius: 3px;
    padding: 10px 23px;
    color: rgba(255, 255, 255, 1);
    font-size: 11px;
    font-weight: 500;
    line-height: 17px;
    border: 0;
    width: 90px;
}

.top_right > img {
    width: 272px;
}

.main-1_bottom {
    text-align: center;
}



.main-2 {
    text-align: center;
    margin: 28px 0;
}

.main-2_top > h2 {
    font-size: 25px;
    font-weight: 600;
    line-height: 31px;
    color: rgba(77, 77, 77, 1);
    margin-bottom: 6px;
}

.main-2_top > p {
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    color: rgba(113, 113, 113, 1);
    margin-bottom: 11px;
}




.main-3 {
    text-align: center;
    margin-bottom: 60px;
}

.main-3_cards {
    display: grid;
    grid-template-columns: repeat(3, 208px);
    padding: 2px 48px;
    justify-content: space-between;
}

.card {
    /* border: 1px solid rebeccapurple; */
    padding: 17px 22px;
    border-radius: 3px;
    height: 100px;
    box-shadow: 0 0.67px rgba(171, 190, 209, 0.2);
}

.card > h2 {
    font-size: 19.5px;
    font-weight: 700;
    line-height: 25px;
    color: rgba(77, 77, 77, 1);
    margin: 5.57px 0;
}

.card > p {
    font-size: 9.74px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(113, 113, 113, 1);
}




                                                                

.wrapper-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-4_left > img {
    width: 442px;
}

.main-4_right {
    /* width: 561px; */
}

.main-4_right > h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: rgba(77, 77, 77, 1);
}

.main-4_right > p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(113, 113, 113, 1);
    margin: 5px 0;
}

.main-4_right > button {
    padding: 14px 32px;
    background-color: rgba(76, 175, 79, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border: 0;
}







.main-5 {
    background-color: rgba(245, 247, 250, 1);
    margin-top: 40px;
    padding: 64px 144px;
    display: flex;
    align-items: center;
}

.wrapper-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-5_left {
    width: 540px;
}

.main-5_left > h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: rgba(77, 77, 77, 1);
}

.main-5_left > h1 > span {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: rgba(76, 175, 79, 1);
}

.main-5_left > p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(24, 25, 31, 1);
    margin-top: 8px;
}

.main-5_right {
    width: 540px;
    display: grid;
    grid-template-columns: repeat(2, 255px);
    grid-template-rows: repeat(2, 60px);
    column-gap: 30px;
    row-gap: 40px;
}

.amount {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: right;
}

.amount_n > span {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    color: rgba(77, 77, 77, 1);
}

.amount_n > p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(113, 113, 113, 1);
}






.main-6 {
    height: 433px;
}





.main-7 {
   padding: 32px 0;
}

.wrapper-7 {
    display: flex;
    align-items: center;
    gap: 78px;
}

.main-7_right {
    width: 750px;
}

.main-7_right_top > p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgba(113, 113, 113, 1);
}

.main-7_right_top > h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: rgba(76, 175, 79, 1);
    margin-bottom: 8px;
    margin-top: 16px;
}

.main-7_right_top > span {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(137, 147, 158, 1);
}

.main-7_right_bottom {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 32px;
}

.b-l {
    display: flex;
    gap: 41px;
}

.b-r > span {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: rgba(76, 175, 79, 1);
}





.main-8 {
    text-align: center;
    margin-top: 48px;
}

.container > h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: rgba(77, 77, 77, 1);
}

.container > p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(113, 113, 113, 1);
}

.three-img {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.imagess {
    position: relative;
    width: 368px;
}

.img_card {
    width: 318px;
    height: 176px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 190px;
    right: 25px;
}

.img_card > h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: rgba(113, 113, 113, 1);
    margin-bottom: 20px;
}

.img_card > span {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: rgba(76, 175, 79, 1);
}








.main-9 {
    /* height: 300px; */
    background-color: rgba(245, 247, 250, 1);
    margin-top: 150px;
    padding: 32px 0;
    text-align: center;
}

.eu {
    font-size: 64px;
    line-height: 76px;
    font-weight: 600;
    color: rgba(38, 50, 56, 1);
    text-align: center;
    margin-bottom: 32px;
}

.btn {
    background-color: rgba(76, 175, 79, 1);
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 14px 32px;
    border: 0;
}






footer {
    background-color: rgba(38, 50, 56, 1);
    height: 328px;
    padding: 64px 65px;
}

.wrapper-foot {
    display: flex;
}

.footer-left {
    width: 350px;
}

.foot-logo {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 40px;
}

.foot-logo > h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 35px;
}

.footer-left > span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(245, 247, 250, 1);
    margin-bottom: 8px;
}

.footer-left > p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(245, 247, 250, 1);
    margin-bottom: 40px;
}

.social {
    display: flex;
    gap: 16px;
}

.footer-right {
    display: flex;
    width: 635px;
    margin-left: 125px;
    gap: 30px;
}

.foot-r-elem {
     width: 160px;  
}

.inp {
    width: 255px;
}

.foot-r-elem > h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
}

.foot-r-elem > ul {
    list-style: none;
}

.foot-r-elem > ul > li {
    margin-bottom: 12px;
}

.foot-r-elem > ul > li > a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(245, 247, 250, 1);
}

.input-box {
    position: relative;
}

input {
    width: 255px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    opacity: 0.2;
    padding: 10px;
    outline: none;
}

input::placeholder {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(217, 219, 225, 1);
}

.input-box > img {
    position: absolute;
    right: 10px;
    top: 10px;
}
